.containerSelects {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 0;
  max-width: 17rem;
}

.disabledButton {
  cursor: default;
}
  
.disabledButton:hover {
  cursor: default;
}

.pickerContainer {
  display: flex; 
  justify-content: center;
}