/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 @import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

 html { 
   min-width: 800px;
 }
 .mainHolder {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
 }
 
 .main {
   max-width: 1600px;
 }
 
 :root {
   --ifm-button-border-radius: 36px;
   font-family: "Karla", sans-serif;
 }
 
 .buttons {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .buttons > .button {
   border-radius: 36px;
 }
 
 .features {
   padding: 0px;
   display: flex;
   align-items: center;
   width: 100%;
   flex-direction: row;
   gap: 30px;
   flex-wrap: wrap;
 }
 
 .features .feature {
   padding: 120px;
   display: flex;
   flex-direction: row;
   width: calc(50% - 15px);
   flex-grow: 1;
   padding: 30px 100px;
   font-size: 30px;
   color: black;
   min-height: 400px;
   min-width: 720px;
   padding-bottom: 60px;
 }
 
 .features .feature p {
   flex-grow: 1;
   text-align: center;
 }
 
 .feature h3 {
   font-size: 47px;
   text-align: center;
   padding: 30px;
 }
 
 .blackButton {
   background-color: black;
   color: white;
   border-color: black;
 }
 
 .blackButton:hover {
   color: black;
   background-color: #e6e6e6;
 }
 
 .feature .feature-body {
   padding: 20px;
 }
 
 .features2 {
   flex-wrap: wrap;
   display: flex;
   align-items: center;
   padding: 1rem 0;
   width: 100%;
   flex-direction: row;
   gap: 30px;
   justify-content: center;
 }
 
 .features2 .feature {
   display: flex;
   flex-direction: column;
   text-align: center;
 
   color: var(--primary);
   width: calc(33% - 30px);
   flex-grow: 1;
   padding: 30px;
   min-height: 530px;
   min-width: 455px;
   max-width: 590px;
 
   font-size: 18px;
 }
 
 .features2 .feature p {
   flex-grow: 1;
   color: var(--ifm-font-color-base);
   font-size: 30px;
 }
 
 .features2 .feature h3 {
  color: var(--ifm-heading-color);
  min-height: 175px;
 }
 
 .definition {
   text-align: center;
   padding: 30px;
   box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.15);
   z-index: 5000;
 }
 
 .definition h3 {
   font-size: 44px;
   font-weight: 700;
 }
 
 .definition p {
   font-size: 30px;
 }
 
 .supportedTechs {
   color: var(--ifm-heading-color);
   text-align: center;
   padding-top: 30px;
   margin-top: 30px;
   margin-bottom: 30px;
   z-index: 5000;
 }
 
 .supportedTechs h3 {
   font-size: 44px;
   font-weight: 700;
   margin-bottom: 60px;
 }
 
 .supportedTechs p {
   font-size: 30px;
 }
 
 .learnAboutStacks {
   margin-top: 30px;
   margin-bottom: 30px;
   color: black;
 }
 
 .heroBanner {
   padding: 4rem 0;
   text-align: center;
   position: relative;
   background-color: #ffc410;
 }
 
 .logocontainer {
   display: flex;
   padding: 50px;
   justify-content: center;
 }

 .logocontainer>div>svg>g>path {
    color: var(--ifm-heading-color);
    fill: currentColor;
  }
 
 .techs2 {
   height: 100px;
   margin: 30px 0px 30px 0px;
   display: flex;
   gap: 50px;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;
   flex-flow: nowrap;
   flex-direction: row;
 }

 .techs2>:nth-child(2) {
   flex-grow: 2;
 }

 .techs2:last-child {
   justify-content: space-between;
 }

 .techs2:last-child>:nth-child(1) {
   flex-grow: 2;
 }

.logo {
  height: 100%;
  width: auto;
  border-radius: 10px;
  cursor: pointer;
}

.supportedTechs~.techs2:last-child {
  justify-content: space-between;
}

.xunit>svg>g>path,
.xunit>svg>g>g>path,
.azureBlob>path,
.googleKubernetes>path:first-child,
.googleStorage>path:first-child,
.cosmosdb>path:first-child,
.azureKubernetes>path:first-child,
.azureFunctions>g>g>path,
.azurePipelines>path:first-child,
.googleLighthouse>path:last-child,
.testCafe>path,
.karate>path,
.cucumber>path:first-child,
.xunit>g>path,
.xunit>path,
.jest>path:nth-child(3)
{
  color: var(--ifm-heading-color);
  fill: currentColor;
}

.bddfy {
  color: var(--ifm-heading-color);
  background-color: currentColor;
}


.jest>path:nth-child(2) {
  color: var(--ifm-heading-color);
  stroke: var(--ifm-heading-color);
  fill: currentColor;
}

