.feature h3 {
  text-align: center;
}

.feature .testing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature .imageWrapper img {
  width: 5rem;
  height: 5rem;
}

.feature {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000;
  padding: 1rem;
}

.feature:first-child {
  border-bottom: 0;
}

.feature p {
  display: flex;
  text-align: center;
}

.features .feature .button {
  display: flex;
  align-items: flex-end;
}

@media (min-width: 768px) { 
  .feature:first-child {
    border-bottom: 1px solid #000;
  }

  .feature {
    flex: 1 1 0;
  }
  
  .feature h3 {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    margin: 0.9rem 0;
  }
  .feature .imageWrapper img {
    width: 3.5rem;
    height: 3.5rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
  }

  .feature p, .feature h3 {
    text-align: unset;
  } 
  .features {
    padding: 0px;
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 30px;
    flex-wrap: nowrap;
  }

  .features .feature .testing {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: initial;
    flex-wrap: nowrap;
  }

  .features .feature p {
    min-height: 8rem;
  }

  .features .feature > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }
}

@media (min-width: 1024px) {
  .feature h3 {
    font-size: 1.5rem;
    margin: 1.3rem 0;
  }
  .feature .imageWrapper img {
    width: 10rem;
    height: 4.5rem;
    min-width: 4.5rem;
    min-height: 4.5rem;
  }
  .features .feature p {
    min-height: 7rem;
  }

  .features .feature .testing {
    gap: 1.5rem;
  }
}